DISCORD_TOKEN=
DEV_GUILD_ID= # optional, overrides guild and channel specific behavior
OPEN_AI_API_KEY= # single api key used for all guilds
OPEN_AI_ADMIN_API_KEY= # optional, org admin key with the api.usage.read scope, only needed for /usage